<header>
  <link href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day&display=swap" rel="stylesheet">
</header>
<br />  
<div class="page-content">
  <h1 class="text-center">About</h1>
  <br class="clear" />
    <div class="about-formatter">
      <center><%= image_tag 'me-about.jpg', alt: "Photo of Devan Potter-Bonar", class: 'about-photo' %></center>
      <br />
      <br />
      <center><div class="about-text" title="A message from Devan Potter-Bonar">
          <p>
          Devan Potter-Bonar is currently completing the University of Toronto Coding Bootcamp to become a certified Full Stack Web Developer. With extensive experience in retail and at the Bonar Institute for Purposeful Leadership,  Devan has a penchant for creative problem solving and for eye-catching design. Applying a results driven, mobile-first approach to his web apps and sites, Devan provides his clients with a convenient and user-friendly front-end experience.
            <br />
            <br />
          Devan believes in creating websites that are easy and fun to use.  He would love to help you enrich your site's user-experience, while enabling you to maintain control of your information and your narrative. 
          </p>
      </div></center>
    </div>
  <br class="clear" />
  <br />
  <p><span class="about-more"><%= link_to 'My code', more_code_path %></span>&nbsp; &nbsp; &nbsp;<span class="about-more"><%= link_to 'My projects', more_apps_path %></span></p>
  <br />
  <br />
</div>
<br />
<br />
<br />
<br />
<br />