<br />  
<h1 class="text-center">About</h1>
<br />

<center><%= image_tag 'me-about.jpg', class: 'about-photo' %></center>
<br />
<br />
<div class="about-text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus mauris eu
  nunc dictum, sit amet elementum turpis viverra. Morbi vel tristique sem. Vivamus vel finibus velit,
  sit amet dictum enim. Sed ac risus mi. Maecenas non lectus vitae magna laoreet pretium. Aenean leo
  turpis, facilisis sed suscipit non, viverra non ex. Duis elementum lorem nulla, nec sollicitudin eros feugiat in.
  In dignissim maximus nibh, eu faucibus nisl suscipit eget.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus mauris eu
  nunc dictum, sit amet elementum turpis viverra. Morbi vel tristique sem. Vivamus vel finibus velit,
  sit amet dictum enim. Sed ac risus mi. Maecenas non lectus vitae magna laoreet pretium. Aenean leo
  turpis, facilisis sed suscipit non, viverra non ex. Duis elementum lorem nulla, nec sollicitudin eros feugiat in.
  In dignissim maximus nibh, eu faucibus nisl suscipit eget.

</div>
<br class="clear" />
<br />
<br />