<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Notable&display=swap" rel="stylesheet">
  <title>Contact Devan</title>
</head>

<body>
  <br />
  <div class="page-content" style="letter-spacing: 2px;">
    <h1 class="text-center">Contact Me</h1>
    <hr class="cme">
    <br />
    <div class="row">
      <div class="col-sm-6">
        <p class="contact-info">
          Currently entertaining new opportunities.
        </p>
        <center>
          <br />
          <div><a class="email1" title="Lets get in touch" href="mailto:devan.potter.bonar@gmail.com">Email me</a></div>
          <br /><br />
      </div>
      <div class="col-sm-6">
        <p class="contact-info">Have a look at my resume:</p>
        <p class="resume">Feel free to</p>
        <center><%= link_to "DOWNLOAD", @about_document.resume_link, :target => "_blank", class: 'cvbtn' %>
        </center>
        </p>
        <p class="resume">a copy or<br /></p>
        <center><a class="cvbtn" target="_blank"
            href="https://docs.google.com/document/d/1yvdBYVWZEraHJ8iOEsdG3Iz2ENDVXKI5SKhYWL7vxxo/edit?usp=sharing">VIEW
            IT</a></center>
        </p>
        <p class="resume">in Google Docs.</p>
      </div>
    </div>
    <hr />
    <center>
      <p class="connect" style="color: grey;">Connect</p>
      <div class="btn-group">
        <a target="_blank" href="https://github.com/Adpbonar" class="btn btn-default">
          <i class="fab fa-github-square fa-2x"></i>
        </a> 
        <a target="_blank" href="https://www.linkedin.com/in/devanpotterbonar/" class="btn btn-default">
          <i  class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
    </center>
  </div>
  <br />
  </div>
  <br />
  </div>
  <br />
  <br />
</body>

</html>