<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Notable&display=swap" rel="stylesheet">
  <title>Contact Devan</title>
</head>
<body>
  <br />
  <div class="page-content" style="letter-spacing: 2px;">
    <h1 class="text-center">Contact Me</h1>
     <p class="contact-info">
        Currently entertaining new opportunities.
        Please get in touch via email.
      </p>	
      <br />
       <center>
 <div><a class="email1" title="Lets get in touch" href="mailto:devan.potter.bonar@gmail.com">Email me</a></div>
<br />
  <br />
    </div><br />
    <div class="page-content" style="letter-spacing: 2px;">
    <h2 class="text-center">Have a look at my resume</h2>
      <p class="resume">Feel free to</p> <center><%= link_to "Download", "/Devan_Potter-Bonar_ Resume.pdf", :target => "_blank", class: 'cvbtn' %></center></p><p class="resume">a copy or<br /></p><center><a class="cvbtn" target="_blank" href="https://docs.google.com/document/d/1yvdBYVWZEraHJ8iOEsdG3Iz2ENDVXKI5SKhYWL7vxxo/edit?usp=sharing">VIEW IT</a></center></p> <p class="resume">in Google Docs.</p>
    </div><br />
      <div class="page-content">
        <br />
        <br />
          <h2 class="text-center">More options</h2>
          <br />
        <center><%= link_to "back", root_path, class: 'back' %></center>
          
          <br />
          <center> <p class="connect" style="color: grey;">Connect</p>
          <div class="btn-group">
            <a target="_blank" href="https://github.com/Adpbonar" class="btn btn-default"><i class="fab fa-github-square fa-2x"></i></</a>
            <a target="_blank" href="https://www.linkedin.com/in/devanpotterbonar/" class="btn btn-default"><i class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://www.facebook.com/dpotterbonar" class="btn btn-default"><i class="fab fa-facebook-square fa-2x"></i></a>
          </div></center>
        </div>
       <br />
      </div>
      <br />
    </div>
<br />
<br />
<br />
<br />
</body>
</html>