<br />
<h1>More Projects</h1>
<br class="clear" />
<br />
 <h4>Flashback</h4>
  <p>This deck of flash cards was built as part of a course in React offered as part of the Univertiy of Toronto Coding Bootcamp.</p>

<br class="clear" /><br />
<div class="more-code">
  <center><a href="https://flashcards-devanpotterbonar.herokuapp.com/index.html"><%= image_tag 'flashback.png' %></a></center>
</div>
<br class="clear" />
<br />
<br />
<br />