<br />
<div class="page-content">
  <h1 class="text-center">More Projects</h1>
  <hr class="cme-more-projects">
  <br class="clear" />
  <br />
  <div class="more-code">
    <h4>Flashback</h4>
    <p class="s-t">This deck of flash cards was built as part of a course in React offered as part of the University of Toronto Coding Bootcamp.</p>
    <center><a target="_blank" href="https://flashcards-devanpotterbonar.herokuapp.com/index.html"><%= image_tag 'flashback.png', alt: "Flash Card app screenshot" %></a></center>
  </div>
  <br />
  <hr /><br />
  <div class="more-code">
    <h4>Note App</h4>
    <p class="s-t">This note app was built as part of a course in React offered as part of the University of Toronto Coding Bootcamp. It uses an API to manage and render notes and tags.</p>
    <center><a target="_blank" href="https://notes-app-devanpotterbonar.herokuapp.com/"><%= image_tag 'note-app.png', alt: "Note app screenshot" %></a></center>
  </div>
  <br />
   <hr /><br />
  <div class="more-code">
    <h4>The New Bonar Institute Website</h4>
    <p class="s-t">This app is being built using Ruby 2.6.3 and Rails 6.0.1, as well as React and Foundation. It will feature blog functionality, event management, online courses and quizzes, and newsletter management functionality</p>
    <center><%= image_tag 'bonarinstitute.png', alt: "Current Information App screenshot" %></center>
    <p class="coming-soon">COMING SOON</P>
  </div>
  <br />
   <hr /><br />
  <div class="more-code">
    <h4>Information App</h4>
    <p class="s-t">This app is being built using Ruby 2.5.3 and Rails 5.2.3. Upon completion, Information App will be a full-service inventory management app providing both online and brick and mortar sales solutions.</p>
    <center><%= image_tag 'Information-App.png', alt: "Current Information App screenshot" %></center>
    <p class="coming-soon">COMING SOON</P>
  </div>
  <br class="clear" />
</div>
  <br class="clear" />
</div>
<br />
<br />
<br />
<br />
<br />