<br />
<div class="page-content">
  <h1 class="text-center">More Projects</h1>
  <hr class="cme-more-projects">
  <br class="clear" />
  <br />
  <div class="more-code">
    <h4>Flashback</h4>
    <p>This deck of flash cards was built as part of a course in React offered as part of the University of Toronto Coding Bootcamp.</p>
    <br class="clear" /><br />
    <center><a target="_blank" href="https://flashcards-devanpotterbonar.herokuapp.com/index.html"><%= image_tag 'flashback.png', alt: "Flash Card app screenshot" %></a></center>
  </div>
  <hr /><br />
  <div class="more-code">
    <h4>Note App</h4>
    <p>This note app was built as part of a course in React offered as part of the University of Toronto Coding Bootcamp. It uses an API to manage and render notes and tags.</p>
    <br class="clear" /><br />
    <center><a target="_blank" href="https://notes-app-devanpotterbonar.herokuapp.com/"><%= image_tag 'note-app.png', alt: "Note app screenshot" %></a></center>
  </div>
  <br class="clear" />
</div>
<br />
<br />
<br />
<br />
<br />