<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Notable&display=swap" rel="stylesheet">
  <title>Devan's Resume</title>
</head>
<body>
  <br />
    <div class="page-content" style="letter-spacing: 2px;">
    <h1 class="text-center">Have a look at my resme</h1>
      <p class="resume">Feel free to</p> <center><%= link_to "Download", "/Devan_Potter-Bonar_ Resume.pdf", :target => "_blank", class: 'cvbtn' %></center></p><p class="resume">a copy or<br /></p><center><a class="cvbtn" target="_blank" href="https://docs.google.com/document/d/1yvdBYVWZEraHJ8iOEsdG3Iz2ENDVXKI5SKhYWL7vxxo/edit?usp=sharing">VIEW IT</a></center></p> <p class="resume">in Google Docs.</p>
    </div><br /> <br />
      <center><%= link_to "protfolio", root_path, class: 'back' %></center>
        <br />
        <br >
        <center> <p class="connect">Connect</p>
          <div class="btn-group">
          <a href="mailto:devan.potter.bonar@gmail.com" class="btn btn-default"><i class="fas fa-envelope-square fa-2x"></i></</a>
          <a target="_blank" href="https://github.com/Adpbonar" class="btn btn-default"><i class="fab fa-github-square fa-2x"></i></</a>
          <a target="_blank" href="https://www.linkedin.com/in/devanpotterbonar/" class="btn btn-default"><i class="fab fa-linkedin fa-2x"></i></a>
          <a target="_blank" href="https://www.facebook.com/dpotterbonar" class="btn btn-default"><i class="fab fa-facebook-square fa-2x"></i></a>
       </div></center>
       <br />
      </div>
    </div>
    <br />
    <br />
    <br />
</body>
</html>