<section class="page-content">
  <h1 class="text-center">Editing Index Document</h1>

  <%= render 'form', index_document: @index_document %>

  <%= link_to 'Show', @index_document %> |
  <%= link_to 'Back', index_documents_path %>
</section>
<br />
<br />
<br />
<br />
