<section class="page-content">
  <h1 class="text-center">Editing Index Document</h1>
  <br />
  <p class="text-center">Current Image</p>

  <div class="preview text-center">
    <% if @index_document.image.present? %>
      <%= image_tag @index_document.image %>
    <% end %>
  </div>
  <br />
  <%= render 'form', index_document: @index_document %>

  <%= link_to 'Back', index_documents_path %>
</section>
<br />
<br />
<br />
<br />
