<p id="notice"><%= notice %></p>
<section class="page-content">
  <h1 class="text-center">Index Document Options</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @index_documents.each do |index_document| %>
        <tr>
          <td><%= link_to 'Edit', edit_index_document_path(index_document) %></td>
          <td><%= link_to 'Destroy', index_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>