<tr class="space" id="comment">
  <td class="td-right">
    <p id="commenter">
      <strong><%= comment.commenter %> wrote:</strong>
    </p>
    <p class="text-left" id="body">
      <strong><%= comment.body %></strong>
    </p>
    <p class="text-muted text-center white-background-date">
      <%= time_ago_in_words(comment.created_at) %> ago
    </p>
  </td>
  <td style="width: 2%;" class="td-left">
    <%= link_to [comment.article, comment], method: :delete, data: { confirm: "Are you sure you want to delete this comment?"}  do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </td>
  </tr>