<header>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap" rel="stylesheet">
</header>
<br />
<div class="page-content">
  <h1 align="center">Read My Articles</h1>
  <hr class="cme-r-a">
  <br />
  <% @articles.each do |article| %>
      <div class="col-xs-8 col-xs-offset-2">
        <h2 class="post-title"><%= article.title %></h2>
        <center>
          <p class="date-text"><%= article.scheduled_for.strftime("%B %d, %Y").upcase %>
        </center>
        <% if article.published || current_user && current_user == article.user %>
        <% unless article.published %>
            <h5 class="draft">DRAFT</h5>
          <% end %>
      </div>
      <cener>
      <div class="article-body">
        <p class="post"><%= article.snippet %>...</p>
        <br />
        <%= link_to 'Read more', article_path(article), class: 'text-center more' %></p>
        <br />
        <br />
        <% end %>
        <% end %>
      </div>
    </div>
  </center>
</div>
<br />
<br />
<br />
<br />
<br />