<section class="page-content">
  <h1 class="text-center">Editing About Document</h1>

  <%= render 'form', about_document: @about_document %>

  <%= link_to 'Back', about_documents_path %>
</section>
<br />
<br />
<br />
<br />