<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale = 1.0">
</head
<body>
<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<br />
<br />
<div class="wrapper">
  <div class="row project-text">
    <h1 class="text-center">Projects</h1>
  </div>
    <% @projects.each do |project| %>
      <div class="row project-text">
        <div class="col-sm-4">
          <h2><%= project.title %></h2>
        </div>
        <div class="col-sm-4">
          <%= image_tag project.project_image, class: 'project-index-image' %>
          <% if project.coming_soon %>
            <p class="project-index-image"><span class="coming-soon">COMING SOON</span></p>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'details'.upcase, project, class: 'more' %>
        </div>
      </div>
    <% end %>
  </div
  <br />
  <br />
  <br />
  <br />
  <br />

  
