<br />
<section class="page-content text-center">
  <h1>New Project</h1>

  <%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
</section>
<br />
<br />
<br />
<br />
<br />
