<br />
<section class="page-content">
  <h1 class="text-center">Editing Code Sample</h1>

  <%= render 'form', code_sample: @code_sample %>

  <%= link_to 'Show', @code_sample %> |
  <%= link_to 'Back', code_samples_path %>
</section>
<br />
<br />
<br />
<br />
