<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale = 1.0">
</head
<body>
<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<br />
<br />
<div class="wrapper">
  <div class="row project-text">
    <h1 class="text-center">My Code</h1>
  </div>
    <% @code_samples.each do |code_sample| %>
      <div class="row project-text">
        <div class="col-sm-4">
          <h2><%= code_sample.title %></h2>
        </div>
        <div class="col-sm-4">
          <%= code_sample.code.html_safe %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'details'.upcase, code_sample, class: 'more' %>
        </div>
      </div>
    <% end %>
  </div
  <br />
  <br />
  <br />
  <br />
  <br />

